<div class="sts-container">

  <div class="sts-box">
    <h2>Speech to Speech</h2>

    <!-- Upload -->
    <label class="file-label">Upload Audio File:</label>
    <input
      type="file"
      accept="audio/*"
      class="file-input"
    />
 

    <!-- Language Selection -->
    <div class="language-row">
      <label>Select Target Language:</label>

      <select>
        <option value="hi">Hindi</option>
        <option value="sa">Sanskrit</option>
      </select>
    </div>

    <!-- Translate Button -->
    <button>
      Convert Speech
    </button>

    <!-- Download Button -->
    <div class="download-section">
      <a>
        <button class="download-btn">Download Translated Audio</button>
      </a>
    </div>
  </div>

</div>
