<!-- <div class="charts-container flex justify-around flex-wrap gap-6 p-4">
  <div class="card flex justify-center flex-column items-center">
    <h3>Sales by Category</h3>
    <p-chart type="pie" [data]="salesData" [options]="options" class="w-full md:w-[25rem]" />
  </div>

  <div class="card flex justify-center flex-column items-center">
    <h3>Stock Quantity by Category</h3>
    <p-chart type="pie" [data]="quantityData" [options]="options" class="w-full md:w-[25rem]" />
  </div>
</div> -->

<p>Dashboard</p>