<div class="warning" *ngIf="warningMessage()">
  {{ warningMessage() }}
</div>

<div class="chart-container">
  <div class="chart-card">
      <div class="title">
        <h3>Incoming & Outgoing</h3>
      </div>
      <p-chart type="pie"  [data]="data1" [options]="options1" class="w-full md:w-[30rem]" />
  </div>
  <div class="chart-card">
      <div class="title">
        <h3>Inventory</h3>
      </div>
      <p-chart type="pie" [data]="data" [options]="options" class="w-full md:w-[30rem]" />
  </div>
</div>

@if (isLow()) {
    <div class="alert" (click)="openLowStockDialog()">
    <h3>Low Stock</h3>
    <p-avatar [size]="'large'">{{this.lowInventoryItems.length}}</p-avatar>
</div>
}

<p-dialog header="Low Stock Details" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (onHide)="hideLowStockDialog()"> 
    @for (item of lowInventoryItems; track $index) {
        <div class="item-info">
            <p>{{item.name}}</p>
            <p>{{item.quantity}}Kg</p>
        </div>
    }
</p-dialog>
