<div class="nav">
  <p-menubar>
    <ng-template #start>
      <p-avatar label="I" class="mr-1" size="large" id="label" />
      <div class="title">
        <h3><b>Inventra</b></h3>
      </div>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-2">
        <button class="logout" (click)="onLogout()"><b>Logout</b></button>
      </div>
    </ng-template>
  </p-menubar>
</div>

<div class="sidebar">
  <p-menu [model]="items"></p-menu>
</div>

<div class="router-outlet">
    <router-outlet></router-outlet>
</div>