<div class="tts-container">

  <div class="tts-box">
    <h2>Text to Speech</h2>

    <textarea
      [(ngModel)]="inputText"
      [placeholder]="selectedLanguage === 'sa' ? 'Type your Sanskrit text here (5000 words max)...' : 'Type your Hindi text here (5000 words max)...'"
      [maxlength]="1000"
      [disabled]="isLoading()"
    ></textarea>

    <div class="language-row">
      <label>Select Language:</label>
      <select [(ngModel)]="selectedLanguage">
        <option value="sa">Sanskrit</option>
        <option value="hi">Hindi</option>
      </select>
    </div>

    
    @if(errorMessage){
      <p class="error-msg" style="color: red; text-align: center;">
        {{ errorMessage }}
      </p>
    }

    <button (click)="generateAudio()" [disabled]="isLoading() || !inputText">
      {{ isLoading() ? 'Generating...' : 'Generate Audio' }}
    </button>

    @if(audioUrl){
      <div class="download-section">
        <audio [src]="audioUrl" controls style="width: 100%; margin-bottom: 15px;"></audio>
        
        <a [href]="audioUrl" download="generated_speech.wav">
          <button class="download-btn">Download Audio</button>
        </a>
      </div>
    }
  </div>

</div>

@if(isLoading()){
  <app-loader></app-loader>
}

<p-toast/>